*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  transition: opacity 0.6s ease;
}
body.loaded{
  opacity: 1;
}



.navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 12px;
  color: white;

}

.menu-toggle{ 
  display:block;
  background: none;
  color: rgb(245, 242, 242);
  font-size: 30px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  z-index: 1000;
}


.menu-toggle.open{
  font-size: 20px;
  padding-top: 30px;
  z-index: 1002;
  padding-right: 15px;

}

.links {
display: flex;
position: fixed;
top:0;
flex-direction: column;
right: -100%;
width: 50%;
height: 100%;
list-style:none ;
background: rgba(0,0,0,0.95);
padding: 40px ;
gap: 90px;
transition: right 0.3s ease;
z-index: 1000;
align-items: center;
justify-content: center;
text-overflow: ellipsis; 
white-space: nowrap;

}

.links.show{
right: 0;
}

.links a {
  position: relative;
text-decoration:none;
color:white; 
font-size: 20px;
font-weight: 100;

}
.links a::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
.links a:hover::after{
  transform: scaleX(1);
}

.overlay-text {
text-align: center;
  position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 z-index: 2;
 color: white;
 text-align: center;
}

.welcome-text {
font-size: 3.4rem;
color: white;
text-align: center;
animation : slideUp 5s ease-in-out;
position: relative;
margin-top: 10vh;
font-weight: 600;
width: 100%;
text-overflow: ellipsis; 
white-space: nowrap;
}

@keyframes slideUp {
 0% {opacity: 0;}
 100% {opacity: 1; } 
} 

.sub-text{
  color: white;
  font-size: 1.2rem;
  padding-top: 20px;
  color: white;
  text-align: center;
  margin-top: 20px;
  animation : jumpIn 4s ease-in-out;
  animation-delay: 1.5s;
  animation-fill-mode: both;
}

@keyframes jumpIn {
 0% {
  transform: scaleX(0.5)
  translateY(100px);
  opacity: 0;
 }
 50% {
   transform: scale(0.5) translateY(-10px);
   opacity: 1;
 }
 70%{
  transform: scale(0.95) translateY(5px);
 }
 100% {
   transform: scale(1) translateY(0);
 }
}

.Background {
height: 100vh;
width: 100%;
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
justify-content: space-between;
position: fixed;
color: #fff;
padding: 0 2rem;
}
.bg{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: slideFade 25s linear infinite;
}

.bg0{background-image: url(./Images/cross-66700_1280.jpg); animation-delay: 1s;}
.bg1{background-image: url(./Images/read-2890857_1280.jpg); animation-delay: 10s;}
.bg2{background-image: url(./Images/img2.jpg); animation-delay: 15s;}
.bg3{background-image: url(./Images/img3.jpg); animation-delay: 20s;} 

@keyframes slideFade{
  0%{opacity: 0;}
  10%{opacity: 1;}
  30%{opacity: 1;}
  80%{opacity: 0;}
}  
.btn{
  display: flex;
  margin-top: 50px;
  width: 100%;
   animation : jumpTwo 4s ease-in-out;
}
@keyframes jumpTwo {
 0% {
   opacity: 0;
   transform: translateY(30px);
 }
 100% {
   opacity: 1;
   transform: translateY(0);
 }
} 
#btn{
  margin: auto;
  background: transparent;
  border: none;
  color: black;
  background-color: white;
  padding: 10px 16px;
  font-size: 1rem;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
#btn:hover{
  background-color:rgb(22, 22, 22);
  color: white;
}


/* tablet view */
@media screen and (min-width:768px) {
  .overlay-text .welcome-text {
    font-size: 5rem;
  }
  .overlay-text .sub-text {
    font-size: 1.4rem;
  }
 .menu-toggle{
 position: fixed;
 top:32px;
  right: 20px;
  display:none;
  z-index: 3000;
  cursor: pointer;
  font-size: 26px;
  padding-top: 3px;
 }
.links {
 display: flex;
 position: static;
 flex-direction: row;
 width: auto;
 height: auto;
 padding: 30px;
 background: none;
 gap: 40px;
 list-style: none;

}
.links.show {
right:auto;
}
.welcome-text{
  font-size: 120px;
}

#btn{
  margin: auto;
  background: transparent;
  border: none;
  color: black;
  background-color: white;
  padding: 20px;
  font-size: 18px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
#btn:hover{
  background-color:rgb(22, 22, 22);
  color: white;
}
}


/* desktop view */
@media screen and (min-width:1024px) {
  .overlay-text .welcome-text {
    font-size: 7rem;
  }
  .overlay-text .sub-text {
    font-size: 1.8  rem;
  }
 .menu-toggle{
 position: fixed;
 top:32px;
  right: 20px;
  display:none;
  z-index: 3000;
  cursor: pointer;
  font-size: 26px;
  padding-top: 3px;
 }
.logo img {
width:120px;
height:auto;
margin: auto;
margin-top: 10px;
}
.links {
 display: flex;
 position: static;
 flex-direction: row;
 width: auto;
 height: auto;
 padding: 30px;
 background: none;
 gap: 40px;
 list-style: none;

}
.links.show {
right:auto;
}
.welcome-text{
  font-size: 120px;
}
/* .sub-text{
    animation : jumpIn 4s ease-in-out;
    animation-delay: 1.5s;
    animation-fill-mode: both;
    color: white;
    font-size: 30px;
    padding-top: 20px;
}
@keyframes jumpIn {
 0% {
  transform: scaleX(0.5)
  translateY(100px);
  opacity: 0;
 }
 50% {
   transform: scale(0.5) translateY(-10px);
   opacity: 1;
 }
 70%{
  transform: scale(0.95) translateY(5px);
 }
 100% {
   transform: scale(1) translateY(0);
 }
} */
#btn{
  margin: auto;
  background: transparent;
  border: none;
  color: black;
  background-color: white;
  padding: 20px;
  font-size: 18px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
#btn:hover{
  background-color:rgb(22, 22, 22);
  color: white;
}
}

