body{
  font-family: Poppins, sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:#f5f5f5;
}

.form-container{
  background:white;
  padding:70px;
  border-radius:10px;
  width:300px;
  text-align:center;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

input{
  width:100%;
  padding:12px;
  margin:10px 0;
  border-radius:5px;
  border:1px solid #ccc;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 109%;
}

#password {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

#togglePassword {
  position: absolute;
  right: 12px;
  cursor: pointer;
  font-size: 18px;
  color: #666;
  transition: color 0.3s ease;
}

#togglePassword:hover {
  color: #333;
}

button{
  width:100%;
  padding:12px;
  border:none;
  background:black;
  color:white;
  cursor:pointer;
  border-radius:5px;
}
.login-btn{
  width:109%;
}
.forgot-password{
  display:block;
  margin-top:10px;
  color:blue;
  text-decoration:underline;
  font-size:14px;
  text-align:right;
  width: 109%;
}
button:hover{
  background:#333;
}
